# Dépendances et logs
node_modules
npm-debug.log

# Dossiers de build intermédiaire
dist
.output

# Git
.git
.gitignore

# Fichiers de doc & config de build
Dockerfile
README.md
*.md

# On ignore tous les .env par défaut…
.env
.env.*

# …sauf .env.production, nécessaire au build
!.env.production

# Pas de lock (on désactive dans le Dockerfile)
package-lock.json
